<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="botaoSalgado" (click)="presentImage(salgados)" class="bg-white">
    <ion-img id="imgSalgado" [src]="salgados"></ion-img>
  </ion-card>
  <ion-card id="botaoSalgado" (click)="presentImage(salgados)" class="bg-white">
    <ion-img id="imgSalgado" [src]="salgados"></ion-img>
  </ion-card>
  <ion-card id="botaoSalgado" (click)="presentImage(salgados)" class="bg-white">
    <ion-img id="imgSalgado" [src]="salgados"></ion-img>
  </ion-card>
</ion-content>