<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="tertiary" class="user-profile">
          <ion-item margin-bottom>
            <ion-avatar slot="start" class="user-avatar">
              <img src="../../../assets/img/avatar.jpg">
            </ion-avatar>
            <ion-label>
              <ion-text color="light">
                <h1><strong>Fausto Silva</strong></h1>
              </ion-text>
              <ion-text color="light">
                <h3>
                  Rio de Janeiro, RJ
                </h3>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-toolbar>
      </ion-header>
      <ion-content class="bg-profile">
        <ion-list>
          <ion-list-header color="primary">
            <ion-label>Menu</ion-label>
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerLink]="[p.url]" color="primary">
              <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>