<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar id="header-menu" color="tertiary" class="user-profile">
            <ion-avatar id="avatar" slot="start" class="user-avatar">
              <img src="../../../assets/avatar.jpg">
            </ion-avatar>
            <ion-label>
              <ion-text color="light">
                <h1><strong>Fausto Silva</strong></h1>
              </ion-text>
              <ion-text color="light">
                <h3>
                  Ponta Grossa, PR
                </h3>
              </ion-text>
            </ion-label>
        </ion-toolbar>
      </ion-header>
      <ion-content class="bg-profile">
        <ion-list>
          <ion-list-header color="primary">
            <ion-label>Menu</ion-label>
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item lines="none" [routerLink]="[p.url]" color="primary">
              <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>