:host {
    ion-content {
        --background: #6c4819;
    }

    ion-list {
        &.list-md {
            padding: 0;
        }
    }
}

#header-menu {
    padding-bottom: 10px;
}

#avatar {
    margin-left: 10px;
    margin-right: 10px;
}