<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QueroCento</title>
    <style>
        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background-color: #E8F2F9;
        }

        #container {
            padding: 10px 40px 40px 40px;
        }

        hr {
            border-top: 2px solid #464C4C;
        }

        li {
            list-style-type: square;
        }

        .grid {
            display: flex;
        }

        #divarq {
            margin-left: 20%;
        }

        a {
            color: #464C4C;
            cursor: pointer;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div id="container">
        <h2>Projeto de Engenharia de Software - 2019</h2>
        <h3>API Rest QueroCento</h3>
        <hr>
        <div class="col">
            <h4>Objetivo do Projeto</h4>
            <p>
                Desenvolver uma aplicação que tenha como objetivo aproximar salgadeiros e confeiteiros de seus clientes
                finais. Através de uma plataforma mobile,
                será possivel realizar o cadastro de doces e salgados (com valores unitários,imagens, local e horários
                de
                atendimento, promoções e agendamentos).
                Também como estará disponível para pessoas que buscam comprar os produtos mencionados no comentario
                acima.
            </p>
        </div>
        <div class="grid">
            <div class="col">
                <h4>Equipe</h4>
                <ul>
                    <li>Elizelton Lisboa: Dev-Ops & Developer</li>
                    <li>Erick Carli Junior: Analista & Designer</li>
                    <li>Luis Gabriel Kingeski: Back-end Developer</li>
                    <li>Luiz Gustavo Nunes: Front-end Developer</li>
                    <li>Muriel Lima: DBA & Developer</li>
                </ul>
            </div>
            <div class="col" id="divarq">
                <h4>Arquitetura</h4>
                <ul>
                    <li>Back-end: .NET Core 2.2</li>
                    <li>Front-end: React Native V.0.60</li>
                    <li>Front-end: React Native V.0.60</li>
                    <li>Deploy: Heroku Platform</li>
                    <li><a onclick="window.open('https://github.com/luizgununes/QueroCento');">github</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>