:host {
  ion-content {
    --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary))
  }
}

.placeholder {
  color: black !important;
}

.formasLogin {
  display: flex;
  justify-content: center;
}

#botao-entrar {
  --background: #fdcb3d;
}