<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="bg-profile">
    <ion-avatar slot="start">
      <img src="../../../assets/img/avatar.jpg" class="user-avatar">
    </ion-avatar>
    <ion-label>
      <ion-text color="light">
        <h2>
          <strong>Fausto Silva</strong>
        </h2>
      </ion-text>
      <ion-text color="tertiary">
        <h3>
          faustosilva@globo.com
        </h3>
      </ion-text>
      <ion-button icon-left size="small" shape="round" color="dark" (click)="editProfile()">
        <ion-icon name="contact"></ion-icon>
        perfil
      </ion-button>
      <ion-button icon-left size="small" shape="round" color="secondary" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        sair
      </ion-button>
    </ion-label>
  </ion-item>

  <ion-list no-border>
    <ion-list-header>
      <ion-text color="dark">
        <h5>geral</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="notifications" slot="start" color="primary"></ion-icon>
      <ion-label class="label" color="primary"> ativar notificações </ion-label>
      <ion-toggle [(ngModel)]="enableNotifications"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>