.login-logo {
  padding: 20px 0;
  min-height: 100px;
  text-align: center;
}

.login-logo img {
  max-width: 250px;
}

.list {
  margin-bottom: 0;
}

#acoesLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#botoesLogin {
  flex-direction: column;
}

#botaoCadastro {
  margin-top: 50px;
}