:host {
    ion-content {
        --background: white;
    }
}

.paz {
    position: relative;
    z-index: 10;
}

.formasLogin {
    justify-content: center;
}

.placeholder {
    color: black !important;
}

#botao-entrar {
    --background: #fdcb3d;
}