<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="session" class="ion-padding">
    <h1>{{session.nome}}</h1>
    <span *ngFor="let track of session?.tracks" [class]="'session-track-'+track.toLowerCase()">{{track}}</span>
    <p>{{session.description}}</p>
    <ion-text color="medium">
      {{session.preco}}
      <br/>
      {{session.cidade}} &ndash; {{session.estado}}
      <br/> {{session.location}}
    </ion-text>
  </div>

</ion-content>