<ion-header>
	<ion-toolbar color="tertiary">
		<ion-buttons slot="start">
			<ion-button size="small" shape="round" (click)="closeModal()" color="light">
				<ion-icon slot="start" name="close"></ion-icon> voltar
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-item margin-bottom>
		<ion-label color="primary" stacked>
			<ion-text color="dark" class="fw500">cep</ion-text>
		</ion-label>
		<ion-input type="number"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label class="fw500" color="dark">ordenar por</ion-label>
		<ion-select [(ngModel)]="organizeby">
			<ion-select-option>mais relevante</ion-select-option>
			<ion-select-option>mais próximo</ion-select-option>
			<ion-select-option>menor preço</ion-select-option>
			<ion-select-option>maior preço</ion-select-option>
			<ion-select-option>menor tempo de entrega</ion-select-option>
			<ion-select-option>maior avaliação</ion-select-option>
		</ion-select>
	</ion-item>

	<ion-item margin-bottom>
		<ion-label class="no-margin-bottom">
			<ion-text color="dark" class="fw500">preço min/max:</ion-text>
			<br />
		</ion-label>
		<ion-range dualKnobs="true" [(ngModel)]="minmaxprice" min="10" max="1000" step="10" class="no-padding-top">
			<ion-label slot="start">
				<ion-text color="primary">R$ {{minmaxprice.lower}}</ion-text>
			</ion-label>
			<ion-label slot="end">
				<ion-text color="primary">R$ {{minmaxprice.upper}}</ion-text>
			</ion-label>
		</ion-range>
	</ion-item>

	<ion-button expand="full" color="primary" (click)="closeModal()">filtrar resultados</ion-button>
</ion-content>