:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}

#botaoSalgado {
    cursor: pointer;
    height: 45%;
}

#botaoDoce {
    cursor: pointer;
    height: 45%;
}

#cardHome {
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    width: max-content;
    margin-left: 40px;
}

#cardGeral {
    justify-content: center;
}