:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}

#cardSalgados {
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 35%;
    margin-bottom: 0px !important;
}

#cardDoces {
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 35%;
}

#cardHome {
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    width: max-content;
    margin-left: 40px;
}

#botaoSalgados {
    width: 85%;
    color: white;
    top: -7px;
}

#cardGeral {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgSalgado {
    margin: 3px;
    margin-bottom: -16px;
    margin-left: 3px;
    margin-right: 2px;
}

#imgDoces {
    margin: 3px;
    margin-bottom: -16px;
    margin-left: 3px;
    margin-right: 2px;
}

#imgsInicial {
    width: 100%;
}