:root {
  --ion-color-primary: #6c4819;;
  --ion-color-secondary: #5b5fde;
  --ion-color-tertiary: #f4a942;
  --ion-color-success: #10dc60;
  --ion-color-warning: #ffce00;
  --ion-color-danger: #f53d3d;
  --ion-color-light: #f4f4f4;
  --ion-color-medium: #ccd1e1;
  --ion-color-dark: #110A3B;
}